/*Start Globle Rules*/
:root {
    --main-color : #0d6efd;
    --main-color-alt : #1787e0;
    --main-liner : linear-gradient(to right, #159957, #0059b1); 
    --section-bacground:#ececec;
    --main-transition : 0.3s;
    --main-padding-top : 100px;
    --main-padding-bottom : 100px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "cairo" , sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media(min-width : 768px){
    .container{
        width: 750px;
    }
}
@media(min-width : 992px){
    .container{
        width: 970px;
    }
}
@media(min-width : 1200px){
    .container{
        width: 1170px;
    }
}

/*End Globle Rules*/
/*Start Scroll to top*/
.top{
    position: fixed;
    right: 50px;
    bottom: 0;
    background-color: #0d6efd;
    width: 60px;
    height: 60px;
    border-radius:50% 50% 0 0 ;
    z-index: 333;
    display: none;
    cursor: pointer;
}
.top-btn{
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background-color: transparent;
    color: white;
    font-size: 32px;
    border: none;
}
/*End Scroll to top*/

/*Start whatsapp*/
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
  }
  
/*End whatsapp*/

/*Start Header*/
.header{
    background: var(--main-liner);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
   
}
.header .container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}
.header .container .logo{
    color: white;
    font-size: 32px;
    letter-spacing: -0.6px;
    font-weight: bold;
    
}
.header .container .main-nav{
    display: flex;
    justify-content: space-between;
    transition: var(--main-transition);
}
@media(max-width:767px){
    .header .container .main-nav {
        flex-direction: column;
        position: absolute;
        justify-content: flex-start;
        left: -100%;
        top: 60px;
        background:var(--main-liner) ;
        width: 100%;
        height: 100vh;
        padding: 20px 10px;
        z-index: 999;
    }
    .header .container .main-nav.active{
        left: 0%;
    }
}
.header .container .main-nav li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: var(--main-transition);
    padding: 20px ;
    position: relative;
}
.header .container .main-nav li a.active{
    background-color: #ebebeb25;
}
@media(max-width:767px){
    .header .container .main-nav li a{
        display: block;
        color: white;
        width: 100%;
        
    }
}

.header .container .main-nav li a:hover{
    background-color: #ebebeb25;
}
.header .container .main-nav li a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 3px;
    background-color: #0ebf66;
    transition: var(--main-transition);
}

.header .container .main-nav li a:hover::before{
    width: 100%;
}
.header .burger{
    width: 40px;
    height: 40px;
    border-radius: 5px 10px;
    border: 2px solid white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    transition: var(--main-transition);
    span{
        display: block;
        width: 100%;
        height: 2px;
        background-color: white;
    }
}
.header .burger:hover{
    background-color: #159957;
    border-color: #159957;
}
@media(min-width : 768px){
    .header .burger{
        display: none;
    }
    
}
@media(max-width:767px){
    .header .container .burger.active{
        margin: 0;
        padding: 0;
        position: relative;
    }
    .header .container .burger.active::before{
        font-family: "Font Awesome 5 Free";
        content: "\f00d";
        font-weight: 900;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
        color: white;
        font-size: 24px;
    }
   
    .header .container .burger.active span{
        opacity: 0;
    }
}
/*End Header*/

/*start about*/
.about-start{
position: relative;
}
.about-start::before{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: "";
    position: absolute;
    background: var(--main-liner);
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.about-start .container{
    padding-top:40px;
    padding-bottom: var(--main-padding-bottom);
    display: flex;
    align-items: center;
   min-height: calc(100vh - 72px);
    gap: 40px;
}
@media(max-width:991px){
    .about-start .container{
        flex-direction: column;
        gap: 90px;
    }
}
.about-start .container .text {
    color: white;
}
@media(max-width:991px){
    .about-start .container .text{
        text-align: center;
    }
}
.about-start .container .text h2{
    font-size: 48px;
    margin-bottom: 30px;
    max-width: 100%;
}
.about-start .container .text p{
    font-size: 18px;
}
.about-start .container img{
    max-width: 100%;
    width: 600px;
    animation-name: up-down;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
/*end about*/
/*Start about-second*/
.about-second .container{
    padding-top:20px;
    padding-bottom: 130px;
    display: flex;
    justify-content: center;
    gap: 80px;
}
@media(max-width:991px){
    .about-second .container{
        flex-direction: column;
    }
}
.about-second .container .text h2 {
    margin-bottom: 20px;
    font-size: 32px;
    position: relative;
    width: fit-content;
}
.about-second .container .text h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30%;
    background-color: #000;  
}
@media(max-width:991px){
    .about-second .container .text h2{
        margin-left: auto;
        margin-right: auto;
    }
    .about-second .container .text h2::after {
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
}
.about-second .container .text p {
margin-bottom: 20px;
font-size: 18px;
line-height: 1.6;
}
@media(max-width:991px){
    .about-second .container .text p {
        text-align: center;
    }
}
.about-second .container .text .departments{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .department{
        margin-bottom: 8px;
        background-color: var(--main-color);
        padding: 4px 12px;
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        color: white;
        border-radius: 6px;
    }
}
@media(max-width:991px){
    .about-second .container .text .departments{
        justify-content: center;
    }
}
.about-second .container .image{
    position: relative;
}
.video{
    cursor: pointer;
}
.about-second .container .image img{
    max-width: 100%;
    width: 700px;
    border-radius: 8px;
}
.about-second .container .image .icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background-color: #0d6dfd9f;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        color: white;
        font-size: 50px;
    }
}

.about-second .container .image .circle{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 105px;
    height: 105px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
}
.about-second .container .image .fill{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    border: 3px solid white;
    border-radius: 50%;
    animation-name: fill;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.cont{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) skewY(-6deg);
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000ab;
    transform-origin: top left;
    z-index: 999;
}
.iframe{
        transform: skewY(6deg);
        width: 560px;
        height: 315px;
}
@media(max-width:767px){
    .iframe{
        width: initial;
        height: initial;
    }
}
.cancle {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 10px;
    transform: skewY(6deg);
    i{
        color: white;
    font-size: 32px;
    }
}
/*End About-second*/

/*Start Hospital_history*/
.hospital_history .text{
    padding: 0 15px;
   text-align: center;
   margin-bottom: 30px;
   h2 , p {
    margin-left: auto;
    margin-right: auto;
   }
   h2{
    font-size: 38px;
    margin-bottom: 20px;
    position: relative;
    width: fit-content;
   
   }
   p{
    max-width: 100%;
    width: 450px;
    margin-bottom: 20px;
   
   }
}
.hospital_history .text h2::after{
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30%;
    height: 3px;
    background-color: #000;
}
.hospital_history .container {
    padding-bottom: var(--main-padding-bottom);
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 60px ;
    justify-content: center;
}
.hospital_history .container .box {
    display: flex;
    gap: 20px;
    align-items: center;
    counter-increment: num;
   

}
.hospital_history .container .box .circle {
    position: relative;
    display: inline-block;
width: 50px;
height: 50px;
border-radius: 50%;
background-color: var(--main-color);
transition: var(--main-transition);
}
.hospital_history .container .box .circle:hover{
    background-color: var(--main-color-alt);
}
.hospital_history .container .box:not(.not) .circle::after{
    position: absolute;
    content: "";
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    height: 63px;
    width: 3px;
    background-color: var(--main-color);
}
@media(max-width:767px){
    .hospital_history .container .box.two .circle::after{
        position: absolute;
        content: "";
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%);
        height: 63px;
        width: 3px;
        background-color: var(--main-color);
    }
}
@media(max-width:1200px){
    .hospital_history .container .box.one .circle::after{
        position: absolute;
        content: "";
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%);
        height: 63px;
        width: 3px;
        background-color: var(--main-color);
    }
}
.hospital_history .container .box .circle::before{
    content: counter(num);
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    font-size: 18px;
    font-weight: bold;
    color: white;

}

/*End Hospital_history*/

/*Start Footer*/
.footer{
    background-color: #191919;
    padding: 70px 0 0;
}
.footer .container{
display: grid;
grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
gap: 40px;
}
.footer .box h3{
color: white;
font-size: 50px;
margin: 0 0 20px;
}
.footer .box .social{
    display: flex;

}
.footer .box .social li{
margin-right: 10px;
}
.footer .box .social li a{
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
}
.footer .box .social .facebook:hover{
    background-color: #1877f2;
}
.footer .box .social .twitter:hover{
    background-color: #1da1f2;
}
.footer .box .social .youtube:hover{
    background-color: #ff0000;
}
.footer .box .text{
    line-height: 2;
    color: #b9b9b9;
}

.footer .box .links li {
    transition: var(--main-transition);
    padding:15px 0;

}
.footer .box .links li:not(:last-child) {
border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
padding-left: 10px;
}
.footer .box .links li:hover a {
color: white;
}
.footer .box .links li a {
    color: #b9b9b9;
    transition: var(--main-transition);
}
.footer .box .links li a::before{
    font-family: "Font Awesome 5 Free";
    content: "\f101";
    font-weight:900 ;
    margin-right: 10px;
    color: var(--main-color);
}
.footer .box .line {
display: flex;
align-items: center;
color: #b9b9b9;
margin-bottom: 30px;
}
.footer .box .line i {
font-size: 25px ;
color: var(--main-color);
margin-right: 10px;
}
.footer .box .line .info {
line-height: 1.7;
flex: 1;
}
.footer .footer-gallery img {
    width: 75px;
    border: 3px solid white;
    margin-right: 2px;
}
.footer .copyright {
    padding: 25px 0 ;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top:1px solid #4444 ;
}

/*End Footer*/
/*Start Animation*/
@keyframes up-down {
    0% , 100% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }   
}
@keyframes fill {
    0% {
        width: 80px;
        height: 80px;
    }
    100%{
        width: 105px;
        height: 105px;
        border-color: var(--main-color);
    }
}
/*End Animation*/